.task-grid {
    display: grid;
    /* Ini memastikan di HP muncul 1 kolom, di laptop 3 kolom */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

/* Tambahan agar tombol tidak menumpuk */
.btn-group .btn {
    margin-left: 2px;
}